.header{
    background-color: var(--white-color);
    border-bottom:  solid #D9FFF5;
    margin-bottom: 24px;
}
.header__box-logo-burger{
    display: flex;
    align-items: center;
    gap: 17px;
}
.header__box{
    display: flex;
    padding-top: 19px;
    padding-bottom: 19px;
    justify-content: space-between;
}
.header__btn-box-all-screen{
    display: flex;
    gap: 17px;
}
.header__logo{
    max-width: 100%;
    position: relative;
}

.header__logo::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 52px;
    top: 2px;
    left: 90px;
    border-right: 3px solid var(--gray-color);
    border-radius: 1px;
}
.header__logo-img--link:focus{
    outline: none;
    box-shadow: 0 0 0 4px red;
    width: 40px;
    height: 40px;
}
.header__burger{
    display: flex;
    background-color: var(--white-color);
    position: relative;
}

.header__burger-btn-on{
    background-color: transparent;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
#header__burger--click{
    opacity: 0;
    position: absolute;
    left: 6px;
    top: 4px;
    width: 30px;
    height: 34px;
 
}
#header__burger--click:checked~.header__nav-bar{
    visibility: visible;
    z-index: 1;
    left: 0;
}


.header__head-burger-box{
    
    display: flex;
    left: -100%;
    justify-content: flex-start;
    gap: 79px;
    margin-left: 80px;
    margin-top: 20px;
}
.header__footer-burger-box{
 
    display: flex;
    flex-direction: column;
    left: -100%;
    margin-left: 15px;
    bottom: 32px;

}
.header__burger-maill {
    
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;

}
.header__burger-tel {
    font-family: 'TT Lakes';
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 40px;
}
.header__burger-lang {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
}
.header__burger-lang-ru {
    color: #7E7E82;
}

.header__btn-logo-image{
    width: 100px;
    height: 50px;
}
.header__btn-search-image {
    width: 40px;
    height: 40px;
}

#header__burger--click:checked~.header__burger-btn-of>span::before{
    top:0;
}
#header__burger--click:checked~.header__burger-btn-of>span::after{
    top: 0;
}
.header__burger-btn-of{
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 3;
    left: 15px;
    top: 25px;
}
.header__footer-link-box{
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.header__nav-bar {
    display: block;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    top: 0;
    left: -100%;
    overflow: scroll;
}
.box-shadow{
    width: 320px;
    position: absolute;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}
.header__nav-menu {
    margin-top: 50px;
    z-index: 2;
    margin-left: 15px;
}
.header__nav-list {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 32px;
}